<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6172a4">  <td>20/06/09 15:57:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestApis.testGetResponse()[pri:0, instance:com.usbank.test.TestApis@12d4bf7e]">testGetResponse</td> 
  <td>main@355790875</td>   <td></td> </tr>
<tr bgcolor="6172a4">  <td>20/06/09 15:57:56</td>   <td>2387</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestApis.testPutResponse()[pri:0, instance:com.usbank.test.TestApis@12d4bf7e]">testPutResponse</td> 
  <td>main@355790875</td>   <td></td> </tr>
</table>
